.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4fa;
  }
  
  mat-card {
    width: 400px;
    padding: 16px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  .link {
    display: block;
    margin-top: 16px;
    text-align: center;
    color: #3f51b5;
    text-decoration: none;
    font-size: 14px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  